# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
conda-meta/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Testing / caches
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db